{% extends "other-ft-ht.html" %}
{% load static %}
{% block content %}

<div class="breadcumb-area">
    <div class="container h-100">
      <div class="row h-100 align-items-end">
        <div class="col-12">
          <div class="breadcumb--con">
            <h2 class="title">Password Reset Sent </h2>
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li class="breadcrumb-item">
                  <a href="{% url 'index-3.html' %}"><i class="fa fa-home"></i> Home</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">
                  Password Reset Completed
                </li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
  <br>


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <p>Your password has been set. You may go ahead and log in now.</p>
            <a href="{% url 'login.html' %}" class="btn btn-primary">Log In</a>
            {% comment %} <div class="btn-wrapper mt-0">
              <button class="theme-btn-1 btn btn-block" type="submit">SIGN IN</button>
            {% comment %} </div>  {% endcomment %}
        </div>
    </div>
    <div></div>
</div>
{% endblock %}
